= bootstrap_form_with(model: @allocation, validate: true) do |f|
  = f.alert_message "Please fix the errors below:"
  = f.select :project_id, options_for_select(Project.pluck(:name, :id))
  = f.select :user_id, options_for_select(User.all.map{|u| [u.full_name, u.id]})
  .form-row
    = f.date_field :start_date, wrapper_class: 'col'
    = f.date_field :end_date, wrapper_class: 'col'
  .form-row
    = f.select :client_rate_currency, Money::Currency.table.values.map{|c| c[:iso_code]}.sort, wrapper_class: 'col-3'
    = f.number_field :client_rate_cents, value: (f.object.client_rate_cents / 100), label: 'Client Rate', wrapper_class: 'col-9'
  .form-row
    = f.select :user_rate_currency, Money::Currency.table.values.map{|c| c[:iso_code]}.sort, wrapper_class: 'col-3'
    = f.number_field :user_rate_cents, value: (f.object.user_rate_cents / 100), label: 'User Rate', wrapper_class: 'col-9'

  = f.primary 'Save'
  = link_to 'Show', @allocation, class: 'btn btn-info' if @allocation.persisted?
  = link_to 'Back', allocations_path, class: 'btn btn-outline-primary'