%h1 Allocation Details
%dl
  %dt Project:
  %dd= link_to @allocation.project.name, @allocation.project
  %dt User:
  %dd= link_to @allocation.user.full_name, @allocation.user
  %dt Start date:
  %dd= @allocation.start_date
  %dt End date:
  %dd= @allocation.end_date
  %dt Client rate:
  %dd= moneyfy @allocation.client_rate
  %dt User rate:
  %dd= moneyfy @allocation.user_rate

= link_to 'Edit', edit_allocation_path(@allocation), class: 'btn btn-primary'
= link_to 'Back', allocations_path, class: 'btn btn-outline-primary'
