= bootstrap_form_with(model: @work_time, validate: true) do |f|
  = f.alert_message "Please fix the errors below:"
  = f.select :allocation_id, options_for_select(current_user.allocations.map{|a| [a.project.name, a.id]})
  = f.date_field :work_date, value: f.object.work_date || Date.today
  .form-row
    = f.select :hours, options_for_select(0..24), wrapper_class: 'col'
    = f.select :minutes, options_for_select([15, 30, 45]), wrapper_class: 'col'

  = f.primary 'Save'
  = link_to 'Show', @work_time, class: 'btn btn-info' if @work_time.persisted?
  = link_to 'Back', work_times_path, class: 'btn btn-outline-primary'