%h1 Work time Details
%dl
  %dt Project:
  %dd= @work_time.project.name
  %dt User:
  %dd= @work_time.user.full_name
  %dt Work date:
  %dd= @work_time.work_date
  %dt Duration:
  %dd= "#{@work_time.hours} hrs #{@work_time.minutes} mins"
  %dt Status:
  %dd= @work_time.status.titleize

= link_to 'Edit', edit_work_time_path(@work_time), class: 'btn btn-primary'
= link_to 'Back', work_times_path, class: 'btn btn-outline-primary'
