%h1 User Details
%dl
  %dt Name
  %dd= @user.full_name
  %dt Email
  %dd= mail_to(@user.email)
  - @user.contact_numbers.each do |cn|
    %dt= "#{cn.note} #{cn.contact_type.upcase_first}".squish
    %dd= phone_to(cn.number.gsub(/^[0]*/, '+').phony_formatted(format: :international, spaces: '-'))

= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary'
= link_to 'Back', users_path, class: 'btn btn-outline-primary'
