- resource.identities.each do |ident|
  %dt= ident.identity_type.upcase_first
  %dd= ident.value
- resource.email_addresses.each do |ea|
  %dt= "#{ea.email_type.upcase_first} Email"
  %dd= mail_to(ea.email)
%dt
  Contact Numbers
%dd= resource.contact_numbers.map { |cn| cn.number_without_isd_code }.join(', ')
- resource.addresses.each do |ad|
  %details
    %summary
      %b= "#{ad.address_type.upcase_first} Address"
    %dt Address
    %dd
      = ad.address_line_1
      %br
      = ad.address_line_2
      %br
      = "#{ad.area}, #{ad.city}, #{ad.district},"
      %br
      = "#{ad.state}, #{ad.country} - #{ad.pincode}"
