%h1 Client Details
%dl
  %dt Name
  %dd= @client.name
  %dt Website
  %dd= @client.website
  = render 'shared/address_partials/show/details', resource: @client
  %details
    %summary
      %b Projects
    %ul
      - @client.projects.each do |project|
        %li= link_to project.name, project

= link_to 'Edit', edit_client_path(@client), class: 'btn btn-primary'
= link_to 'Back', clients_path, class: 'btn btn-outline-primary'
