%h1 Dashboard

.row.row-cols-1.row-cols-sm-2.row-cols-md-3
  .col.mb-4
    .card
      .card-header General Beds
      %ul.list-group.list-group-flush
        %li.list-group-item= text_with_badge('Available', Hospital.count, 'success')
        %li.list-group-item= text_with_badge('Occupied', Hospital.count, 'danger')
      .card-footer
        = text_with_badge('Total', Hospital.count)
  .col.mb-4
    .card
      .card-header Oxygen Beds
      %ul.list-group.list-group-flush
        %li.list-group-item= text_with_badge('Available', Hospital.count, 'success')
        %li.list-group-item= text_with_badge('Occupied', Hospital.count, 'danger')
      .card-footer
        = text_with_badge('Total', Hospital.count)
  .col.mb-4
    .card
      .card-header ICU Beds
      %ul.list-group.list-group-flush
        %li.list-group-item= text_with_badge('Available', Hospital.count, 'success')
        %li.list-group-item= text_with_badge('Occupied', Hospital.count, 'danger')
      .card-footer
        = text_with_badge('Total', Hospital.count)
  .col.mb-4
    .card
      .card-header Ventilators
      %ul.list-group.list-group-flush
        %li.list-group-item= text_with_badge('Available', Hospital.count, 'success')
        %li.list-group-item= text_with_badge('Occupied', Hospital.count, 'danger')
      .card-footer
        = text_with_badge('Total', Hospital.count)
  .col.mb-4
    .card
      .card-header Hospitals
      %ul.list-group.list-group-flush
        %li.list-group-item= text_with_badge('Leads', Hospital.count)
        %li.list-group-item= text_with_badge('Leads Converted', Hospital.count)
        %li.list-group-item= text_with_badge('In Development', Hospital.count)
        %li.list-group-item= text_with_badge('In Maintenance', Hospital.count)
        %li.list-group-item= text_with_badge('Completed', Hospital.count)
      .card-footer
        = text_with_badge('Total', Hospital.count)
  .col.mb-4
    .card
      .card-header Users
      %ul.list-group.list-group-flush
        %li.list-group-item= text_with_badge('Admins', User.count)
        %li.list-group-item= text_with_badge('Active Employees', User.count)
        %li.list-group-item= text_with_badge('Active Freelancers', User.count)
        %li.list-group-item= text_with_badge('Vendor Representative', User.count)
        %li.list-group-item= text_with_badge('Hospital Representative', User.count)
        %li.list-group-item= text_with_badge('Pool of Freelancers', User.count)
      .card-footer
        = text_with_badge('Total', User.count)
