%h1
  Projects
  = link_to '+', new_project_path, class: 'btn btn-primary rounded-circle'

%table.table
  %thead
    %tr
      %th Name
      %th Repo url
      %th Owner
      %th Quote Amount
      %th Order Amount
      %th Status
      %th.text-center{colspan: 3} Actions

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= link_to project.repo_url, project.repo_url
        %td= link_to project.owner.name, project.owner
        %td= moneyfy project.quote_amount
        %td= moneyfy project.order_amount
        %td= project.status.titleize
        %td= link_to 'Show', project, class: 'btn btn-info'
        %td= link_to 'Edit', edit_project_path(project), class: 'btn btn-primary'
        %td= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

