%h1 Project Details
%dl
  %dt Name
  %dd= @project.name
  %dt Owner
  %dd= link_to @project.owner.name, @project.owner
  %dt Repo URL
  %dd= link_to @project.repo_url, @project.repo_url
  %dt Quote Amount:
  %dd= moneyfy @project.quote_amount
  %dt Final Order Amount:
  %dd= moneyfy @project.order_amount
  %dt Status:
  %dd= @project.status.titleize
  %details
    %summary
      %b Allocations
    = render 'allocations/table', allocations: @project.allocations

= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary'
= link_to 'Back', projects_path, class: 'btn btn-outline-primary'
