%tbody#search-records
  - unless @hospitals.present?
    %tr
      %td{ colspan: 20 }
        .alert.alert-warning.text-center
          No records found. Please try changing criteria.
  - else
    - @hospitals.each do |hospital|
      %tr
        %td= hospital.name
        %td.text-success= hospital.vacant_gen_beds || '-'
        %td.text-danger= hospital.occupied_gen_beds || '-'
        %td.text-success= hospital.vacant_o2_beds || '-'
        %td.text-danger= hospital.occupied_o2_beds || '-'
        %td.text-success= hospital.vacant_icu_beds || '-'
        %td.text-danger= hospital.occupied_icu_beds || '-'
        %td.text-success= hospital.vacant_ventilators || '-'
        %td.text-danger= hospital.occupied_ventilators || '-'
        %td= link_to 'Details', hospital, class: 'btn btn-info'
