= form_for @bank_account do |f|
  - if @bank_account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bank_account.errors.count, "error")} prohibited this bank_account from being saved:"
      %ul
        - @bank_account.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :account_number
    = f.text_field :account_number
  .field
    = f.label :account_holder_name
    = f.text_field :account_holder_name
  .field
    = f.label :code_type
    = f.number_field :code_type
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :branch_name
    = f.text_field :branch_name
  .field
    = f.label :resource
    = f.text_field :resource
  .actions
    = f.submit 'Save'
