%p#notice= notice

%p
  %b Account number:
  = @bank_account.account_number
%p
  %b Account holder name:
  = @bank_account.account_holder_name
%p
  %b Code type:
  = @bank_account.code_type
%p
  %b Code:
  = @bank_account.code
%p
  %b Branch name:
  = @bank_account.branch_name
%p
  %b Resource:
  = @bank_account.resource

= link_to 'Edit', edit_bank_account_path(@bank_account)
\|
= link_to 'Back', bank_accounts_path
